@import "tailwindcss";

@theme {
  --color-neutral-50: oklch(0.99 0 0);
  --color-neutral-200: oklch(0.92 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-400: oklch(0.72 0 0);
  --color-neutral-500: oklch(0.56 0 0);
  --color-neutral-600: oklch(0.44 0 0);
  --color-neutral-700: oklch(0.37 0 0);
  --color-neutral-800: oklch(0.27 0 0);
  --color-neutral-900: oklch(0.2 0 0);
  --color-neutral-950: oklch(0.14 0 0);

  --color-primary-50: oklch(0.97 0.02 294);
  --color-primary-100: oklch(0.94 0.03 295);
  --color-primary-200: oklch(0.89 0.05 293);
  --color-primary-300: oklch(0.81 0.1 294);
  --color-primary-400: oklch(0.71 0.16 294);
  --color-primary-500: oklch(0.61 0.22 293);
  --color-primary-600: oklch(0.54 0.25 293);
  --color-primary-700: oklch(0.49 0.24 293);
  --color-primary-800: oklch(0.43 0.21 293);
  --color-primary-900: oklch(0.38 0.18 294);
  --color-primary-950: oklch(0.28 0.14 291);

  --text-body-default: 1rem;
  --text-body-sm: 0.9rem;
  --text-body-lg: 1.5rem;
  --text-display-default: 2.5rem;
  --text-display-sm: 2rem;
  --text-display-lg: 4rem;
  --text-functional-default: 0.875rem;
  --text-functional-sm: 0.875rem;
  --text-functional-default: 1rem;
  
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}